$test-border: 3px solid white; 

#home-container { 
    margin: 2%;
    margin-left: 26%;
    color: white;
    text-align: center;
    /**/
    border: $test-border;
}
.home {
    border: $test-border;
}
.featured.container {
    display: flex;
    justify-content: space-evenly;
}
.featured.project{
    border: $test-border;
}