$home-border: 3px solid white; 

#home-container { 
    margin: 2%;
    margin-left: 27%;
    color: white;
    text-align: center;   
}
#banner-image {
    width: 100%;
    margin-bottom: 20px;
}
.home.featured {
    border: $home-border;
    padding-bottom: 25px;
}
.featured.projects {
    display: flex;
    justify-content: space-evenly;
}
.featured.project{
    border: $home-border;
    width: 32%;
}
.featured.section-title { font-size: 36px; }
.gallery-title {
    font-size: 30px;
    color: white;
    text-decoration: none;
}
